# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=3i2rg51e
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

# Site URL
NEXT_PUBLIC_URL=http://localhost:3000

# Sanity Tokens (get from sanity.io/manage)
SANITY_API_READ_TOKEN=sktHHnJrIuWTRzhgi4dOpEU8fZq61tT4jR88dPe9MsAicQ8Waui8ALO3XS8k7lJOOjuulFl15dUykQ3zoE6JcOT6pdGFUYLaRCtc5gXqUMe0MwT6F6XEAVggb9P7ZtZUZSnQsMRU2FATSc7PfT5SyTiS9LsVMX7PcJkHN4Pp279XF0GJRRFn
SANITY_API_WRITE_TOKEN=skVoFXl7S6aLmjM6pjQOxwvHnv20sjf95rhOygDS6eQr2MKSo2nu5heUamlFDJv65dC9Hqqs6tPUbW2TbzyIhsOfRmGOjQeetRPah0Vib6kOM5gAhEPwukGLkr6H4VmajTvwZjKZAR9Ehhf1YwGp09fZL4jJ35nIuqScTawlNqRDWQYCmr2x

# OpenAI API
OPENAI_API_KEY=

DATABASE_URL=postgresql://postgres.soouvpqrtwhzurivptoi:j3r%26%26k%3FE8Kk!@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true

